body {
	margin: 0;
}

p, a {
	font-family: Roboto, sans-serif;
	font-size: 18px;
  	text-decoration: none;
  	color: #E5E7EB;
}

ul {
  	list-style-type: none;
  	display: flex;
  	gap: 24px;
}

button {
	font-family: Roboto, sans-serif;
	border: none;
	border-radius: 8px;
	background: #3882F6;
	padding: 12px 24px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.main-text, .logo {
	font-family: Roboto, sans-serif;
	color: white;
}

div .main-text {
	font-weight: 900;
	font-size: 48px;
}

div .logo {
	font-weight: bold;
	font-size: 24px;
}

.page-one {
	background-color: #1F2937;
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding-bottom: 72px;
}

.header {
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin: 0 160px;
	align-items: center;
}

.content-one {
	display: flex;
	justify-content: space-between;
	margin: 0 160px;
	align-items: center;
	gap: 72px;
}

.introduction {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.restaurant-image {
	max-width: 450px;
}

.page-two {
	margin: 48px 0;
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.information-header {
	margin: auto;
	color: #1F2937;
	font-size: 36px;
	font-weight: 900;
	font-family: Roboto, sans-serif;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 0 160px;
}

.menu-item {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border: 5px solid;
	border-color: #3882F6;
	border-radius: 16px;
}

.menu-description {
	color: #1F2937;
	text-align: center;
	max-width: 200px;
}